@import "../variables.scss";
.recent-transaction {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 70px;
  .el-collapse-item__arrow {
    display: none;
  }
  .more-btn {
    transform: rotate(0deg);
    transition: transform 0.3s;
    user-select: none;
    align-self: center;
    &.active {
      transform: rotate(180deg);
    }
  }
  .el-collapse,
  .el-collapse-item__header,
  .el-collapse-item__wrap {
    border: none;
  }
  .el-collapse-item__header {
    height: 72px;
  }
  .collapse-header {
    background: #f5f9ff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    font-size: 14px;
    line-height: 18px;
    color: $dark-theme;
    &__name {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
  .collapse-content {
    padding: 12px 24px 0px 24px;
    border-radius: 8px;
  }
  .alltransaction {
    height: 50px;
    background: #ddffec;
    color: #01d167;
    text-align: center;
    padding: 16px 0px;
    font-weight: 500;
  }
  .el-collapse-item__content {
    padding-bottom: 0px;
  }
}
@media (max-width: 991.98px) {
  .recent-transaction {
    padding: 0px 24px;
    border: none;
    .el-collapse {
      border: 1px solid #f0f0f0;
    }
  }
}
