.card-carousel {
  .splide__pagination {
    bottom: -28px;
    &__page {
      background: #01d167;
      opacity: 0.3;
      border-radius: 8px;
      margin-right: 8px;
      &.is-active {
        opacity: 1;
        background: #01d167;
        width: 16px;
      }
    }
  }
  .splide__slide.is-active {
    .debit-card {
      background: #01d167;
    }
  }
}
