.debit-card {
  width: 414px;
  height: 248px;
  background: #536dff;
  border-radius: 8px;
  padding: 24px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  position: relative;
  &.freezed {
    opacity: 0.5;
    background: grey !important;
  }
  &__logo {
    margin-left: auto;
  }
  &__customer-name {
    font-size: 24px;
    line-height: 20px;
  }
  &__number {
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
  }
  &__number-hidden {
    font-size: 36px;
    line-height: 19px;
  }
  &__info {
    display: flex;
    gap: 30px;
  }
  &__date,
  &__cvv {
    font-size: 13px;
    line-height: 18px;
  }
  &__show-number {
    position: absolute;
    color: #01d167;
    background: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    display: flex;
    padding: 5px 10px;
    top: -26px;
    gap: 6px;
    right: 30px;
    cursor: pointer;
  }
}
@media (max-width: 991.98px) {
  .debit-card {
    &__show-number {
      position: sticky;
      right: 35px;
      border-radius: 6px 6px 0px 0px;
      width: 150px;
      margin-left: auto;
      top: 1px;
      z-index: 2;
      margin-top: 15px;
    }
    &.freezed {
      opacity: 0.8;
    }
  }
}
