@import "../css/variables.scss";
nav {
  background: $dark-theme;
  height: 100%;
  padding: 48px;
  color: #ffffff;
}
.nav-header__text {
  font-size: 15px;
  line-height: 20px;
  opacity: 0.3;
  margin-top: 19px;
}
.nav-items {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  margin-top: 81px;
}
.nav-items__link {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
