.transaction {
  display: flex;
  gap: 12px;
  line-height: 18px;
  font-size: 14px;
  color: #222222;
  border-bottom: 1px solid #f5f5f5;
  margin-top: 16px;
  &__icon {
    background: #009dff1a;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.flights {
      background: #00d6b51a;
    }
    &.megaphone {
      background: #f251951a;
    }
  }
  &__content {
    margin-bottom: 18px;
    &-name {
      margin: 0px;
      font-weight: 500;
    }
    &-date {
      color: #aaaaaa;
      margin: 4px 0px 12px 0px;
      font-size: 13px;
    }
    &-type {
      color: #325baf;
      margin: 0px;
      font-size: 12px;
      font-weight: 500;
      &-img {
        width: 24px;
        height: 20px;
        background: #325baf;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin-right: 8px;
        img {
          vertical-align: middle;
        }
      }
    }
  }
  &__amount {
    margin-left: auto;
    font-weight: bold;
    &.positive {
      color: #01d167;
    }
    .next-btn {
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
